@{
    ViewData["Title"] = "Agents Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Agents</h2>
        </div>
        <div class="col-6 text-end pt-2">
            <input class="btn btn-sm btn-primary" type="button" value="+ Agent" onclick="onClickCreateAgent(event)"/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped" style="width:100%" id="tblstAgents">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Dairies</th>
                </tr>
                </thead>
                <tbody >
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create Dairy Modal -->
<div class="modal fade" id="manageAgentModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h5 class="modal-title" id="staticBackdropLabel">Manage Agent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Agent Name&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" id="txtAgentname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Mobile&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm Number" type="text" id="txtAgentmobile"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Address</label>
                    <input class="form-control form-control-sm" id="txtAgentaddress"/>
                </div>
            </div>
            <hr/>
            
        </div>
      <div class="modal-footer py-1">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="onClickAgentSave()">Save</button>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var createAgentModel  = new bootstrap.Modal(document.getElementById('manageAgentModel'), {backdrop: 'static',keyboard: false});
        var _Agent = {
            id: 0,
            name: '',
            address: '',
            mobile:'',
            dairies:''            
        };
        $( document ).ready(function() {
            initialedAgent();
            getAllAgents();
        });
        
        
        
        getAllAgents = () =>{
            $.ajax({
                type: 'GET',
                url: "/Agent/getall",                
                success: function (res) {
                   console.log(res.data);
                  if ( $.fn.DataTable.isDataTable('#tblstAgents') ) {
                    $('#tblstAgents').DataTable().destroy();
                  }
                   var table = $('#tblstAgents').DataTable(
                       {
                           data: res.data,
                           columnDefs: [
                               {render: function (data, type, row) { return row.id;},defaultContent: "-",targets: 0},
                               {render: function (data, type, row) { return '<a href="javascript:void(0);" onclick="getAgentDetail('+row.id+')">'+row.name+'</a>'},defaultContent: "-",targets: 1},
                               {render: function (data, type, row) { return row.mobile;},defaultContent: "-",targets: 2},
                               {render: function (data, type, row) { return row.address;},defaultContent: "-",targets: 3},
                               {render: function (data, type, row) { return row.dairies;},defaultContent: "-",targets: 4},
                           ],
                           responsive: true,
                           lengthChange: false,
                           pageLength: 25,
                           buttons: [ { extend: 'pdf',split: ['excel'],}]
                       });
                   table.buttons().container().appendTo('#tblstAgents_wrapper .col-md-6:eq(0)' );
                   
                }
            });
        }
        initialedAgent = () =>{
            _Agent = {id: 0,name: '',address: '',mobile:''};
            // initialied  values
            $('#txtAgentname').val(_Agent.name);            
            $('#txtAgentmobile').val(_Agent.mobile);            
            $('#txtAgentaddress').val(_Agent.address);
        }
        getAgentDetail = (id) =>{
            _Agent = {id: 0,name: '',address: '',mobile:''};
            $.ajax({
                type: 'GET',
                url: "/Agent/get/"+id,
                success: function (res) {
                    _Agent = res.data;
                    // initialied  values
                    $('#txtAgentname').val(_Agent.name);
                    $('#txtAgentmobile').val(_Agent.mobile);
                    $('#txtAgentaddress').val(_Agent.address);                    
                   
                    createAgentModel.show();
                }
            });
        }
        onClickCreateAgent = ()=>{  
            initialedAgent();
            createAgentModel.show();
        }           
        onClickAgentSave =() => { 
            if ($('#txtAgentname').val()=='' || $('#txtAgentmobile').val()=='' || $('#txtAgentaddress').val()==''){
                swal({ title: "Please enter required fields", icon: "warning",});
                return;
            }
            
            var payload = {
                id: _Agent.id,
                name: $('#txtAgentname').val(),
                address: $('#txtAgentaddress').val(),
                mobile:$('#txtAgentmobile').val()
            };
            $.ajax({
            type: 'POST',
            url: "/Agent/createOrUpdate",
            data:payload,
            success: function (res) {
                console.log(res);
                initialedAgent();
                getAllAgents();
                createAgentModel.hide();
            }
            });
        }      
      
    </script>
}