@{
    ViewData["Title"] = "Diary Page";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-6">
            <h1>Dairies</h1>
        </div>
        <div class="col-6 text-end pt-2">
            <input class="btn btn-sm btn-primary" type="button" value="+ Diary" onclick="onClickCreateDiary(event)"/>
        </div>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Dairies</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body pt-4">
                <table class="table table-bordered table-striped " style="width:100%" id="tblstDairies">
                    <thead>
                    <tr>
                        <th>Diary #</th>
                        <th>Customer</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Installment</th>
                        <th>Loan</th>
                        <th>Total</th>
                        <th>Balance</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody >
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<!-- Create Diary Modal -->
<div class="modal fade" id="createDiaryModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="staticBackdropLabel">Create Diary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form row">
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Choose Agent</label>
                        <select class="form-select form-select-sm" id="ddlagents" onchange="onChangeAgent(this)">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Choose Customer</label>
                        <select class="form-select form-select-sm" id="ddlcustomers" onchange="onChangeCustomer(this)">
                            <option value="0">New Customer</option>
                        </select>
                    </div>

                </div>
                <div class="row" id="divnewcustomerdetail" style="display: none">
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Customer Name&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" id="txtcustomername"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Father Name&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" id="txtcustomerfathername"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Mobile&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm Number" maxlength="10" id="txtcustomermobile"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Business name</label>
                        <input class="form-control form-control-sm" id="txtcustomerbusinessname"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Address</label>
                        <input class="form-control form-control-sm" id="txtcustomeraddress"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Remarks</label>
                        <textarea class="form-control form-control-sm" id="txtcustomerremarks"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row">

                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Diary #&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" readonly="readonly" type="number" id="txtDiarynumber"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Loan Amount&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm Number" type="text" id="txtDiaryloanamount"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Start Date&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" type="date" id="txtDiarystartdate"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Choose Scheme</label>
                        <select class="form-select form-select-sm" id="ddlSchemes" onchange="onChangeSchemes(this)">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Installment&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm Number" readonly="readonly" type="text" id="txtDiaryinstallment"/>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered" id="tbrefdiaries">
                            <thead>
                            <tr>
                                <th class="text-center" style="width: 100px">Diary/Investor#</th>
                                <th class="text-center" style="width: 100px">Avalible</th>
                                <th class="text-center" style="width: 120px">Loan</th>
                                <th class="text-center" style="width: 40px"></th>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <select class="form-select form-select-sm" id="ddlrefdiaries" onchange="onChangeAvalibleReferences(this)">
                                        <option value="0">Cash</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <input class="form-control form-control-sm text-end" readonly="readonly" type="number" id="txtrefDiarypaidamount" value="0"/>
                                </td>
                                <td class="text-center">
                                    <input class="form-control form-control-sm text-end" type="number" id="txtrefDiaryloanamount" value="0"/>
                                </td>
                                <td class="text-center">
                                    <a onclick="onClickAddRowReference()" href="javascript:void(0);" class="btn btn-sm btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="onClickCreateDiarySave()">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var createDiaryModel = new bootstrap.Modal(document.getElementById('createDiaryModel'), {backdrop: 'static',keyboard: false});
        
        
        var _availableAccounts = [];
        var _schemes = [];
        
        var _diariesHadbalance = [];
        var _agents = [];
        var _customers = [];
        var _refDairies = [];
        var _diaries = [];
        var _Diary = {};
        var _currentDiaryId = 0;
        $( document ).ready(function() {
            _currentDiaryId = 0;
            getAllDairies();
            createDiaryModel.hide();
        });
        
        getAllDairies = () =>{
            $.ajax({
                type: 'GET',
               url: "/Diary/getall",         
                success: function (res) {
                   console.log(res.data);
                  if ( $.fn.DataTable.isDataTable('#tblstDairies') ) {
                    $('#tblstDairies').DataTable().destroy();
                  }
                   var table = $('#tblstDairies').DataTable(
                       {
                           data: res.data,
                           columnDefs: [
                               {render: function (data, type, row) { return row.diaryNumber;},defaultContent: "-",targets: 0,className: "text-center"},
                               {render: function (data, type, row) { return '<a href="javascript:void(0);" onclick="getDiaryDetail('+row.diaryNumber+')">'+row.customer.accountName+' ['+row.customer.mobile+']</a>'},defaultContent: "-",targets: 1},
                               {render: function (data, type, row) { return moment(row.startDate).format('DD/MM/YYYY');},defaultContent: "-",targets: 2},
                               {render: function (data, type, row) { return moment(row.endDate).format('DD/MM/YYYY');},defaultContent: "-",targets: 3},
                               {render: function (data, type, row) { return row.installment;},defaultContent: "-",targets: 4,className: "text-center"},
                               {render: function (data, type, row) { return '₹ '+formatCurrencyN(row.loanAmount);},defaultContent: "-",targets: 5,className: "text-end"},
                               {render: function (data, type, row) { return '₹ '+formatCurrencyN(row.recoveryAmount);},defaultContent: "-",targets: 6,className: "text-end"},
                               {render: function (data, type, row) { return '₹ '+formatCurrencyN(row.totalBalanceAmount);},defaultContent: "-",targets: 7,className: "text-end"},
                               {render: function (data, type, row) {return '<span class="badge '+(row.isCompleted==true?'bg-success':'bg-warning text-dark')+'">'+(row.isCompleted==true?'Completed':'Not Completed')+'</span>';},defaultContent: "-",targets: 8,className: "text-center"},
                               {render: function (data, type, row) { return (moment(row.startDate)>moment()?'<a href="javascript:void(0);" class="text-danger" onclick="deleteDiary('+row.id+')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg>':'')},defaultContent: "-",targets: 9},
                               // {render: function (data, type, row) { return (moment(row.startDate)<moment()?'<a href="javascript:void(0);" class="text-danger" onclick="deleteCustomer('+row.id+')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg>':'')},defaultContent: "-",targets: 6},
                           ],
                           responsive: true,
                           lengthChange: false,
                           pageLength: 25,
                           order: [[0, 'desc']],
                           buttons: [ { extend: 'pdf',split: ['excel'],}]
                       });
                   table.buttons().container().appendTo('#tblstDairies_wrapper .col-md-6:eq(0)' );
                   
                }
            });
        }
        initialedCreateDiary = () =>{
            
            _diariesHadbalance = [];
            _agents = [];
            _customers = [];
            _refDairies = [];
                    
                    
            // get customers
            bindCustomers();
            // get ref diaries
            bindAvalibleReferences();
            // get agents
            bindAgents();
            // get schemes
            bindSchemes();
            
            // initialied  values
            $('#ddlcustomers').val(0);
            $('#txtcustomername').val('');
            $('#txtcustomerfathername').val('');
            $('#txtcustomermobile').val('');
            $('#txtcustomerbusinessname').val('');
            $('#txtcustomerremarks').val('');
            $('#txtDiarynumber').val('');
            $('#txtDiarystartdate').val('')
            $('#txtDiaryloanamount').val(0)
            $('#txtDiaryinstallment').val(120);   
            $('#tbrefdiaries tbody').html('');
            $('#txtcustomeraddress').val('')
            _currentDiaryId = 0;
            bindDiaryNewNumber();
        }
        onClickCreateDiary = ()=>{      
            initialedCreateDiary();            
            createDiaryModel.show();
        }        
        onClickCreateDiarySave =() => { 
            
            if (parseInt($('#ddlcustomers').val())==0 && ($('#txtcustomername').val()=='' || $('#txtcustomermobile').val()=='' || $('#txtcustomerfathername').val()=='')){
                swal({ title: "Please enter required fields", icon: "warning",});
                return;          
            }
            if ($('#txtDiarynumber').val()=='' || $('#txtDiarystartdate').val()=='' || $('#txtDiaryloanamount').val()=='' || $('#txtDiaryinstallment').val()=='' ){
               swal({ title: "Please enter required fields!", icon: "warning",});
               return;
            }
            if (parseFloat($('#txtDiaryloanamount').val())==0){
                 swal({ title: "Please loan amount greater then 0!", icon: "warning",});
                 return;
            }
            
            var _refAmount = 0;
            for(let i = 0; i < _refDairies.length; i++) {
              _refAmount=parseFloat(_refAmount)+parseFloat(_refDairies[i].loanAmount);
            }
            if (parseFloat(_refAmount)!=parseFloat($('#txtDiaryloanamount').val())){
                 swal({ title: "Please loan amount and diaries reference amount must be same!", icon: "warning",});
                 return;
            }
            
            var payload = {
                agentId: $('#ddlagents').val(),
                customerId: $('#ddlcustomers').val(),
                customerName: $('#txtcustomername').val(),
                customerFatherName: $('#txtcustomerfathername').val(),
                customerMobile: $('#txtcustomermobile').val(),
                customerBusinessName: $('#txtcustomerbusinessname').val(),
                customerRemarks: $('#txtcustomerremarks').val(),
                customerAddress: $('#txtcustomeraddress').val(),
                schemeId: $('#ddlSchemes').val(),
                diaryNumber: $('#txtDiarynumber').val(),
                diaryStartDate: $('#txtDiarystartdate').val(),
                loanAmount: $('#txtDiaryloanamount').val(),
                installment: $('#txtDiaryinstallment').val(),
                
                references: _refDairies
            };
            $.ajax({
                type: 'POST',
                url: "/diary/create",
                data:payload,
                success: function (res) {
                   console.log(res)
                   getAllDairies();
                   createDiaryModel.hide();
                   initialedCreateDiary();
                }
            });
            
        }
           
        onChangeCustomer = (e) => {
            var _selectedId = $('#ddlcustomers').val();
                    
            if (parseInt(_selectedId)>0){
                $('#divnewcustomerdetail').hide();
            }else{
                $('#divnewcustomerdetail').show();
            }
        }   
        onChangeAgent = (e) => {
            var _selectedId = $('#ddlagents').val();
                    
            if (parseInt(_selectedId)>1){
                $('#txtDiaryinstallment').val(117);
            }else{
                $('#txtDiaryinstallment').val(120);
            }
        }
        // onChangeRefDairies = (e) => {   
        //     debugger;
        //    $('#txtrefDiarypaidamount').val(0);
        //     _diariesHadbalance.map((val) => {                
        //         if (val.id==parseInt($('#ddlrefdiaries').val())){
        //             $('#txtrefDiarypaidamount').val(val.paidAmount);
        //         }
        //     });
        // };        
        bindCustomers = ()=>{
            $.ajax({
            type: 'GET',
            url: "/accounts/getall/"+accountType.Customers,
            success: function (res) {
                if(res.success)
                {
                    _customers = [];
                    $('#ddlcustomers').html('');
                    $('#ddlcustomers').append("<option value='0'>New Customer</option>")
                    for(let i = 0; i < res.data.length; i++) {
                      _customers.push({customerId:res.data[i].id, customerName: res.data[i].name});
                       $('#ddlcustomers').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+' S/o '+res.data[i].fatherName+' ['+res.data[i].mobile+"]</option>")
                    }                     
                }
            }
            });
        };
        bindAgents = ()=>{
            $.ajax({
            type: 'GET',
            url: "/accounts/getall/"+accountType.Agents,
            success: function (res) {
                $('#divDiaryDetail').html('');
                if(res.success)
                {
                    _agents = [];
                    $('#ddlagents').html('');                            
                    for(let i = 0; i < res.data.length; i++) {
                      _agents.push({agentId:res.data[i].id, agentName: res.data[i].name});
                      $('#ddlagents').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                     
                }
            }
            });
        };
        bindSchemes = ()=>{
            $.ajax({
            type: 'GET',
            url: "/diary/schemes",
            success: function (res) {
                if(res.success)
                {
                    _schemes = [];
                    $('#ddlSchemes').html('');                            
                    for(let i = 0; i < res.data.length; i++) {
                      _schemes.push({id:res.data[i].id, name: res.data[i].name,installments:res.data[i].installmentCount, rate:res.data[i].RateInterest});
                      $('#ddlSchemes').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                    
                }
            }
            });
        };
        onChangeSchemes = (e) => {   
           $('#txtDiaryinstallment').val(0);
            _schemes.map((val) => {                
                if (val.id==parseInt($('#ddlSchemes').val())){
                    $('#txtDiaryinstallment').val(val.installments);
                }
            });
        };   
        
        
        
        
        bindAvalibleReferences = ()=>{
            $.ajax({
            type: 'GET',
            url: "/diary/avaliblereferences",
            success: function (res) {
                console.log(res.data);
                if(res.success)
                {
                    _availableAccounts = [];
                    $('#ddlrefdiaries').html('');
                    $('#ddlrefdiaries').append("<option value='0'>Select</option>")
                    for(let i = 0; i < res.data.length; i++) {
                      _availableAccounts.push({id:res.data[i].id,name:res.data[i].name, availableFunds: res.data[i].availableFunds});
                      $('#ddlrefdiaries').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                     
                }
            }
            });
        }; 
        onChangeAvalibleReferences = (e) => {   
           $('#txtrefDiarypaidamount').val(0);
            _availableAccounts.map((val) => {                
                if (val.id==parseInt($('#ddlrefdiaries').val())){
                    $('#txtrefDiarypaidamount').val(val.availableFunds);
                }
            });
        };   
        onClickAddRowReference = () => {        
                    
            var accountId = $('#ddlrefdiaries').val();
            var loanAmt = $('#txtrefDiaryloanamount').val();
            var availableFunds = $('#txtrefDiarypaidamount').val();
            
            
            if (parseInt(loanAmt)>0){
                if (parseInt(availableFunds)<parseInt(loanAmt) && accountId>0){
                    swal({ title: "Please enter less or equel available amount !", icon: "warning",});
                    return;
                }
                
                var _strRow = '';
                _strRow += '<tr><td class="text-center">'+(accountId>0?'#'+accountId:'Cash')+'</td>'
                _strRow += '<td class="text-center" style="width: 100px">'+availableFunds+'</td>'
                _strRow += '<td class="text-center" style="width: 120px">'+loanAmt+'</td>'
                _strRow += '<td class="text-center" style="width: 40px">'
                _strRow += '<a onclick="onClickRemoveRowReference('+accountId+',this)" href="javascript:void(0);" class="text-danger">'
                _strRow += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">'
                _strRow += '<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>'
                _strRow += '</svg></a></td></tr>'
                
                $('#tbrefdiaries tbody').append(_strRow);
                
                _refDairies.push({accountId: accountId, loanAmount: loanAmt, availableFunds:availableFunds});
                
                $('#ddlrefdiaries').val(0);
                $('#txtrefDiaryloanamount').val('');
                $('#txtrefDiarypaidamount').val('');
            }
        }
        onClickRemoveRowReference = (id,e) => {
            _refDairies = _refDairies.filter(function( obj ) {return parseInt(obj.accountId) !== id;});            
            $(e).closest('tr').remove();            
        }    
        
        
        
        
        
        // bindHasDiaryPaidAmount = ()=>{
        //     $.ajax({
        //     type: 'GET',
        //     url: "/Diary/refdiaries",
        //     success: function (res) {
        //         $('#divDiaryDetail').html('');
        //         if(res.success)
        //         {
        //             _diariesHadbalance = [];
        //             // _diariesHadbalance.push({DiaryNumber: 1, paidAmount:5000 });
        //             // _diariesHadbalance.push({DiaryNumber: 2, paidAmount:4500 });
        //             // _diariesHadbalance.push({DiaryNumber: 3, paidAmount:6500 });
        //             // _diariesHadbalance.push({DiaryNumber: 4, paidAmount:3500 });
        //             //  $('#ddlrefdiaries').html('');
        //             //  
        //             // for(let i = 0; i < _diariesHadbalance.length; i++) {
        //             //     $('#ddlrefdiaries').append("<option value='"+_diariesHadbalance[i].DiaryNumber+"'>"+_diariesHadbalance[i].DiaryNumber+"</option>")
        //             // } 
        //            
        //             $('#ddlrefdiaries').html('');
        //             $('#ddlrefdiaries').append("<option value='0'>Cash</option>")
        //             for(let i = 0; i < res.data.length; i++) {
        //               _diariesHadbalance.push({DiaryNumber:res.data[i].id,DiaryNumber:res.data[i].DiaryNumber, paidAmount: res.data[i].paidAmount});
        //               $('#ddlrefdiaries').append("<option value='"+res.data[i].DiaryNumber+"'>"+res.data[i].DiaryNumber+"</option>")
        //             }                     
        //         }
        //     }
        //     });
        // };        
        bindDiaryNewNumber = ()=>{
                $.ajax({
                type: 'GET',
                url: "/Diary/getDiarynumber",
                success: function (res) {
                    if(res.success)
                    {
                        $('#txtDiarynumber').val( res.data+1);
                         return res.data;
                    }
                }
                });
            };  
        
        getDiaryDetail = (DiaryNum) => {
            bindDiaryDetail(DiaryNum);        
        }
        
        deleteDiary=(id)=>{
            swal({
            title: "Are you sure want to delete Diary?",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
                ],
            dangerMode: true,
            }).then(function(isConfirm) {
              if (isConfirm) {
                  $.ajax({
                  type: 'POST',
                  url: "/Diary/delete/"+id,
                  success: function (res) {
                      initialedCreateDiary();
                      getAllDairies();
                       swal({
                            title: 'Deleted!',
                            text: 'Diary are successfully deleted!',
                            icon: 'success'
                          }).then(function() {
                            //form.submit(); // <--- submit form programmatically
                          });
                  }
                  });
               
              }
            });
        }
        bindAvalibleReferences();
    </script>
}