@{
    ViewData["Title"] = "Dashboard";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Dairies</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-book"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="DiaryCounter">0</h6>
                                    @* <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> *@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-3 col-xl-6">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Customers</h5>
                            @* <h5 class="card-title">Customers <span>| This Year</span></h5> *@

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="customerCounter">0</h6>
                                    @* <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> *@

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Revenue</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-rupee"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="revenueCounter">0</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-3 col-xl-6">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Expenses</h5>
                            @* <h5 class="card-title">Customers <span>| This Year</span></h5> *@

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="expensesCounter">0</h6>
                                    @* <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> *@

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Current Credit</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-rupee"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="CounterCurrentCredit">0</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-3 col-xl-6">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Current Debit</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-rupee"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="CounterCurrentDebit">0</h6>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Balance</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-rupee"></i>
                                </div>
                                <div class="ps-1 text-center w-100">
                                    <h6 id="CounterCurrentBalance">0</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @* <div class="col-xxl-3 col-xl-6"> *@
                @* *@
                @*     <div class="card info-card customers-card"> *@
                @*         <div class="card-body"> *@
                @*             <h5 class="card-title">Expenses</h5> *@
                @*             $1$ <h5 class="card-title">Customers <span>| This Year</span></h5> #1# *@
                @* *@
                @*             <div class="d-flex align-items-center"> *@
                @*                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> *@
                @*                     <i class="bi bi-people"></i> *@
                @*                 </div> *@
                @*                 <div class="ps-1 text-center w-100"> *@
                @*                     <h6 id="expensesCounter">0</h6> *@
                @*                     $1$ <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> #1# *@
                @* *@
                @*                 </div> *@
                @*             </div> *@
                @* *@
                @*         </div> *@
                @*     </div> *@
                @* *@
                @* </div> *@
            </div>
        </div>


        <div class="col-lg-6">
            <div class="col-12">
                <div class="card">

                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">Today</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">This Month</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">This Year</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Reports <span>/Today</span></h5>


                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<!-- Create Diary Modal -->
<div class="modal fade" id="createDiaryModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="staticBackdropLabel">Create Diary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form row">
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Choose Agent</label>
                        <select class="form-select form-select-sm" id="ddlagents" onchange="onChangeAgent(this)">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Choose Customer</label>
                        <select class="form-select form-select-sm" id="ddlcustomers" onchange="onChangeCustomer(this)">
                            <option value="0">New Customer</option>
                        </select>
                    </div>

                </div>
                <div class="row" id="divnewcustomerdetail">
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Customer Name&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" id="txtcustomername"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Father Name&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" id="txtcustomerfathername"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Mobile&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm Number" maxlength="10" id="txtcustomermobile"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Business name</label>
                        <input class="form-control form-control-sm" id="txtcustomerbusinessname"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Address</label>
                        <input class="form-control form-control-sm" id="txtcustomeraddress"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Remarks</label>
                        <textarea class="form-control form-control-sm" id="txtcustomerremarks"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row">

                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Diary #&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" readonly="readonly" type="number" id="txtDiarynumber"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Loan Amount&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm Number" type="text" id="txtDiaryloanamount"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Start Date&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm" type="date" id="txtDiarystartdate"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label form-control-sm">Installment&nbsp;<span class="badge bg-danger">Required</span></label>
                        <input class="form-control form-control-sm Number" readonly="readonly" type="text" id="txtDiaryinstallment"/>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered" id="tbrefdiaries">
                            <thead>
                            <tr>
                                <th class="text-center" style="width: 100px">Diary#</th>
                                <th class="text-center" style="width: 100px">Balance</th>
                                <th class="text-center" style="width: 120px">Loan</th>
                                <th class="text-center" style="width: 40px"></th>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <select class="form-select form-select-sm" id="ddlrefdiaries" onchange="onChangeRefDairies(this)">
                                        <option value="0">Cash</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <input class="form-control form-control-sm text-end" readonly="readonly" type="number" id="txtrefDiarypaidamount" value="0"/>
                                </td>
                                <td class="text-center">
                                    <input class="form-control form-control-sm text-end" type="number" id="txtrefDiaryloanamount" value="0"/>
                                </td>
                                <td class="text-center">
                                    <a onclick="onClickAddRowRefDiary()" href="javascript:void(0);" class="btn btn-sm btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="onClickCreateDiarySave()">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var createDiaryModel = new bootstrap.Modal(document.getElementById('createDiaryModel'), {backdrop: 'static',keyboard: false});
        var _diariesHadbalance = [];
        var _agents = [];
        var _customers = [];
        var _refDairies = [];
        $(document).ready(function() {
            bindDashboardCounter();
            // onClickCreateDiary();            
        });
        bindDashboardCounter = ()=>{
            $.ajax({
            type: 'GET',
            url: "/admin/dashboard/counter",
            success: function (res) {
                if(res.success)
                {
                    console.log(res)   ;   
                    $('#DiaryCounter').text(res.data.diaries)
                    $('#customerCounter').text(res.data.customers)
                    $('#revenueCounter').text(res.data.revenueTotal)
                    $('#expensesCounter').text(res.data.expensesTotal)
                    
                    $('#CounterCurrentCredit').text(formatCurrencyN(res.data.totalCredit))
                    $('#CounterCurrentDebit').text(formatCurrencyN(res.data.totalDebit))
                    $('#CounterCurrentBalance').text(formatCurrencyN(res.data.totalBalance))
                    
                    
                }
            }
            });
        };
        
        
        
        
        initialedCreateDiary = () =>{
            
            _diariesHadbalance = [];
            _agents = [];
            _customers = [];
            _refDairies = [];
                    
                    
            // get customers
            bindCustomers();
            // get ref diaries
            bindHasDiaryPaidAmount();
            // get agents
            bindAgents();
            
            // initialied  values
            $('#ddlcustomers').val(0);
            $('#txtcustomername').val('');
            $('#txtcustomerfathername').val('');
            $('#txtcustomermobile').val('');
            $('#txtcustomerbusinessname').val('');
            $('#txtcustomerremarks').val('');
            $('#txtDiarynumber').val('');
            $('#txtDiarystartdate').val('')
            $('#txtDiaryloanamount').val(0)
            $('#txtDiaryinstallment').val(120);   
            $('#tbrefdiaries tbody').html('');
            $('#txtcustomeraddress').val('')
            $('#divnewcustomerdetail').show();
            bindDiaryNewNumber();
        }        
        onClickCreateDiary = ()=>{      
            initialedCreateDiary();            
            createDiaryModel.show();
        }        
        onClickCreateDiarySave =() => { 
            
            if (parseInt($('#ddlcustomers').val())==0 && ($('#txtcustomername').val()=='' || $('#txtcustomermobile').val()=='' || $('#txtcustomerfathername').val()=='')){
                swal({ title: "Please enter required fields", icon: "warning",});
                return;          
            }
            if ($('#txtDiarynumber').val()=='' || $('#txtDiarystartdate').val()=='' || $('#txtDiaryloanamount').val()=='' || $('#txtDiaryinstallment').val()=='' ){
               swal({ title: "Please enter required fields!", icon: "warning",});
               return;
            }
            
            var payload = {
                agentId: $('#ddlagents').val(),
                customerId: $('#ddlcustomers').val(),
                customerName: $('#txtcustomername').val(),
                customerFatherName: $('#txtcustomerfathername').val(),
                customerMobile: $('#txtcustomermobile').val(),
                customerBusinessName: $('#txtcustomerbusinessname').val(),
                customerRemarks: $('#txtcustomerremarks').val(),
                customerAddress: $('#txtcustomeraddress').val(),
                
                DiaryNumber: $('#txtDiarynumber').val(),
                DiaryStartDate: $('#txtDiarystartdate').val(),
                loanAmount: $('#txtDiaryloanamount').val(),
                installment: $('#txtDiaryinstallment').val(),
                
                refDairies: _refDairies
            };
            $.ajax({
                type: 'POST',
                url: "/Diary/create",
                data:payload,
                success: function (res) {
                   console.log(res)
                   createDiaryModel.hide();
                   initialedCreateDiary();
                }
            });
            
        }
        onClickAddRowRefDiary = () => {        
            
            var DiaryNumber = $('#ddlrefdiaries').val();
            var loanAmt = $('#txtrefDiaryloanamount').val();
            var paidAmt = $('#txtrefDiarypaidamount').val();
            
            
            if (parseInt(loanAmt)>0){
                if (parseInt(paidAmt)<parseInt(loanAmt) && DiaryNumber>0){
                    swal({ title: "Please enter less or equel available amount !", icon: "warning",});
                    return;
                }
                
                var _strRow = '';
                _strRow += '<tr><td class="text-center">'+(DiaryNumber>0?'#'+DiaryNumber:'Cash')+'</td>'
                _strRow += '<td class="text-center" style="width: 100px">'+paidAmt+'</td>'
                _strRow += '<td class="text-center" style="width: 120px">'+loanAmt+'</td>'
                _strRow += '<td class="text-center" style="width: 40px">'
                _strRow += '<a onclick="onClickremoveRowRefDiary('+DiaryNumber+',this)" href="javascript:void(0);" class="text-danger">'
                _strRow += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">'
                _strRow += '<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>'
                _strRow += '</svg></a></td></tr>'
                
                $('#tbrefdiaries tbody').append(_strRow);
                
                _refDairies.push({DiaryNumber: DiaryNumber, loanAmount: loanAmt, paidAmount:paidAmt});
                
                $('#ddlrefdiaries').val(0);
                $('#txtrefDiaryloanamount').val('');
                $('#txtrefDiarypaidamount').val('');
            }
        }        
        onClickremoveRowRefDiary = (id,e) => {
            _refDairies = _refDairies.filter(function( obj ) {return parseInt(obj.DiaryNumber) !== id;});            
            $(e).closest('tr').remove();            
        }        
        onChangeCustomer = (e) => {
            var _selectedId = $('#ddlcustomers').val();
                    
            if (parseInt(_selectedId)>0){
                $('#divnewcustomerdetail').hide();
            }else{
                $('#divnewcustomerdetail').show();
            }
        }   
        onChangeAgent = (e) => {
            var _selectedId = $('#ddlagents').val();
                    
            if (parseInt(_selectedId)>1){
                $('#txtDiaryinstallment').val(117);
            }else{
                $('#txtDiaryinstallment').val(120);
            }
        }
        onChangeRefDairies = (e) => {           
           $('#txtrefDiarypaidamount').val(0);
            _diariesHadbalance.map((val) => {                
                if (val.DiaryNumber==parseInt($('#ddlrefdiaries').val())){
                    $('#txtrefDiarypaidamount').val(val.paidAmount);
                }
            });
        }        
        bindCustomers = ()=>{
            $.ajax({
            type: 'GET',
            url: "/Diary/customers",
            success: function (res) {
                $('#divDiaryDetail').html('');
                if(res.success)
                {
                    _customers = [];
                    $('#ddlcustomers').html('');
                    $('#ddlcustomers').append("<option value='0'>New Customer</option>")
                    for(let i = 0; i < res.data.length; i++) {
                      _customers.push({customerId:res.data[i].id, customerName: res.data[i].name});
                       $('#ddlcustomers').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                     
                }
            }
            });
        };
        bindAgents = ()=>{
            $.ajax({
            type: 'GET',
            url: "/Diary/agents",
            success: function (res) {
                $('#divDiaryDetail').html('');
                if(res.success)
                {
                    _agents = [];
                    $('#ddlagents').html('');                            
                    for(let i = 0; i < res.data.length; i++) {
                      _agents.push({agentId:res.data[i].id, agentName: res.data[i].name});
                      $('#ddlagents').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                     
                }
            }
            });
        };
        bindHasDiaryPaidAmount = ()=>{
            $.ajax({
            type: 'GET',
            url: "/Diary/refdiaries",
            success: function (res) {
                $('#divDiaryDetail').html('');
                if(res.success)
                {
                    _diariesHadbalance = [];
                    $('#ddlrefdiaries').html('');
                    $('#ddlrefdiaries').append("<option value='0'>Cash</option>")
                    for(let i = 0; i < res.data.length; i++) {
                      _diariesHadbalance.push({DiaryNumber:res.data[i].id,DiaryNumber:res.data[i].DiaryNumber, paidAmount: res.data[i].paidAmount});
                      $('#ddlrefdiaries').append("<option value='"+res.data[i].DiaryNumber+"'>"+res.data[i].DiaryNumber+"</option>")
                    }                     
                }
            }
            });
        };        
        bindDiaryNewNumber = ()=>{
                $.ajax({
                type: 'GET',
                url: "/Diary/getDiarynumber",
                success: function (res) {
                    if(res.success)
                    {
                        $('#txtDiarynumber').val( res.data+1);
                         return res.data;
                    }
                }
                });
            };      
        // onclickPayInstallment =(e,id,DiaryNumber)=>{
        //     // alert($('#txtinstallment_'+id).val());
        //    
        //     var paylod = {
        //         id: id, 
        //         amount: parseInt($('#txtinstallment_'+id).val()),
        //         isClosed: false
        //     }
        //    
        //     $.ajax({
        //     type: 'POST',
        //     url: "/Diary/installment/pay",
        //     data:paylod,
        //     success: function (res) {                
        //         if(res.success)
        //         {
        //             swal({title: "Installment paid succesfully.",icon: "success",});
        //             bindDiaryByNumber(DiaryNumber);                    
        //         }
        //     }
        //     });
        // }
    </script>
}