@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login - MicroFIN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/MicroFIN.styles.css" asp-append-version="true"/> *@
    <style>
        html,body {
          height: 100%!important;
        }
    </style>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div class="h-100 d-flex align-items-center justify-content-center bg-p">
         <div class="bg-white bg-opacity-75 p-3 w-75 rounded">
             <div class="row"><div class="col-12 text-center">
                 <img style="width: 100px" src="/images/logo.png" class="img-fluid"/>
             </div></div>
             <div class="row mt-3">
                 <div class="col-sm-12 col-md-4 offset-md-4">
                     <h3 class="text-center"><strong>Login </strong></h3>
                     <form asp-action="login" method="post">
                         <div class="form-group mb-2">
                             <label for="userName" class="form-label">User Name</label>
                             <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter user name">
                         </div>
                         <div class="form-group mb-2">
                             <label for="password" class="form-label">Password</label>
                             <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                         </div>
                         <div class="form-group py-2">
                             <button type="submit" class="btn btn-primary w-25">Submit</button>
                             <button class="btn btn-secondary w-25" type="reset">Reset</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
    </div>
    <footer class="border-top footer text-muted fixed-bottom p-2 border-secondary">
        <div class="container text-dark text-center">
            &copy; 2022 - JAI BHOLE FINANCE | MicroFIN by [ KODONIC ]
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
    