@{
    ViewData["Title"] = "Customers Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2><strong>Customers Page </strong></h2><br /><br />
            Hello @User.Identity.Name !, Role @User.FindFirst(claim=>claim.Type==System.Security.Claims.ClaimTypes.Role)?.Value
            <a asp-action="logout" asp-controller="account">
                Logout
            </a>
            <br />
            <br />
            <h4>Admin role user can only access this page!!</h4>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $( document ).ready(function() {
            
        });
        onClickSearch =(e)=> {
            if ($('#txtdairynumber').val()!='')
                bindDairyByNumber($('#txtdairynumber').val());
            else
                swal({
                  title: "Please enter dairy number!",
                  icon: "warning",
                });                
        }      
        
        createCustomer= ()=>{
                    $.ajax({
                        type: 'POST',
                        url: "/customer/createOrUpdate",
                        data:{
                            id: _currentDairyId,
                            name: "gaurav",
                            Mobile:"9876543210",
                            Address: "-"
                        },
                        success: function (res) {
                           console.log(res.data);
                        }
                    });
                }
    </script>
}