@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid bg-p border-1 border-primary rounded py-2">
    <form class="row align-items-center ">
        <div class="col-auto">
            <label for="inputPassword6" class="form-control-sm col-form-label"><strong>Dairy#</strong></label>
        </div>
        <div class="col-auto">
            <input class="form-control form-control-sm"  type="text" id="txtsearchdairynumber" value="" placeholder="Enter Dairy Number">
        </div>
        <div class="col-auto">
            <input class="btn btn-sm btn-primary" type="button" value="Search" onclick="onClickSearch(th)"/>&nbsp;&nbsp;
            <input class="btn btn-sm btn-primary" type="button" value="+ Dairy" onclick="onClickCreateDairy(event)"/>
        </div>
    </form>
    <hr class="my-2"/>
    <div class="row">
        <div class="col-12" id="divDairyDetail">
            @* <h4>#1</h4> *@
            @* <table class="table table-borderless"> *@
            @*     <tr> *@
            @*         <td style="width: 110px">Name : </td> *@
            @*         <td colspan="3">Gaurav Malviya S/o R K Malviya [9876543210]</td> *@
            @*     </tr> *@
            @*     <tr> *@
            @*         <td>Start : </td> *@
            @*         <td>01-01-2022</td> *@
            @*         <td>End : </td> *@
            @*         <td>01-01-2022</td> *@
            @*     </tr> *@
            @*     <tr> *@
            @*         <td>Loan Amt : </td> *@
            @*         <td>50,000</td> *@
            @*         <td>Total Amt : </td> *@
            @*         <td>50,000</td> *@
            @*     </tr> *@
            @*     <tr> *@
            @*         <td>Balance Amt : </td> *@
            @*         <td>50,000</td> *@
            @*         <td>Status : </td> *@
            @*         <td>Due</td> *@
            @*     </tr> *@
            @* </table> *@
            @* <h5>Installments</h5> *@
            @* <table class="table table-bordered border-secondary bg-white"> *@
            @*     <tr> *@
            @*         <th class="text-center">#</th> *@
            @*         <th class="text-center">Date</th> *@
            @*         <th class="text-center">Amount</th> *@
            @*         <th class="text-center">Status</th> *@
            @*     </tr> *@
            @*     <tr> *@
            @*         <td class="text-center">1</td> *@
            @*         <td class="text-center">01-01-2022</td> *@
            @*         <td class="text-end">500</td> *@
            @*         <td class="text-center"></td> *@
            @*     </tr> *@
            @* </table> *@
        </div>
    </div>
</div>

<!-- Create Dairy Modal -->
<div class="modal fade" id="createDairyModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h5 class="modal-title" id="staticBackdropLabel">Create Dairy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <div class="form row">
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Choose Agent</label>
                    <select class="form-select form-select-sm" id="ddlagents">
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Choose Customer</label>
                    <select class="form-select form-select-sm" id="ddlcustomers" onchange="onChangeCustomer(this)">
                        <option value="0">New Customer</option>
                    </select>
                </div>
                
            </div>
            <div class="row" id="divnewcustomerdetail">
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Customer Name&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" id="txtcustomername"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Father Name&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" id="txtcustomerfathername"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Mobile&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" id="txtcustomermobile"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Business name</label>
                    <input class="form-control form-control-sm" id="txtcustomerbusinessname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Address</label>
                    <input class="form-control form-control-sm" id="txtcustomeraddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Remarks</label>
                    <input class="form-control form-control-sm" id="txtcustomerremarks"/>
                </div>
            </div>
            <hr/>
            <div class="row">
               
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Dairy #&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" type="number" id="txtdairynumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Loan Amount&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" type="number" id="txtdairyloanamount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Start Date&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" type="date" id="txtdairystartdate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label form-control-sm">Installment&nbsp;<span class="badge bg-danger">Required</span></label>
                    <input class="form-control form-control-sm" type="number" id="txtdairyinstallment"/>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered" id="tbrefdairies">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 100px">Dairy#</th>
                            <th class="text-center" style="width: 100px">Balance</th>
                            <th class="text-center" style="width: 120px">Loan</th>
                            <th class="text-center" style="width: 40px"></th>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <select class="form-select form-select-sm" id="ddlrefdairies" onchange="onChangeRefDairies(this)">
                                    <option value="0">Cash</option>
                                </select>
                            </td>
                            <td class="text-center"><input class="form-control form-control-sm text-end" readonly="readonly" type="number" id="txtrefdairypaidamount" value="0"/></td>
                            <td class="text-center">
                                <input class="form-control form-control-sm text-end" type="number" id="txtrefdairyloanamount" value="0"/>
                            </td>
                            <td class="text-center">
                                <a onclick="onClickAddRowRefDairy()" href="javascript:void(0);" class="btn btn-sm btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      <div class="modal-footer py-1">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="onClickCreateDairySave()">Save</button>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var createDairyModel = new bootstrap.Modal(document.getElementById('createDairyModel'), {backdrop: 'static',keyboard: false});
        var _dairiesHadbalance = [];
        var _agents = [];
        var _customers = [];
        var _refDairies = [];
        $( document ).ready(function() {
            // onClickCreateDairy();
            
        });
        
        initialedCreateDairy = () =>{
            
            _dairiesHadbalance = [];
            _agents = [];
            _customers = [];
            _refDairies = [];
                    
                    
            // get customers
            bindCustomers();
            // get ref dairies
            bindHasDairyPaidAmount();
            // get agents
            bindAgents();
            
            // initialied  values
            $('#ddlcustomers').val(0);
            $('#txtcustomername').val('');
            $('#txtcustomerfathername').val('');
            $('#txtcustomermobile').val('');
            $('#txtcustomerbusinessname').val('');
            $('#txtcustomerremarks').val('');
            $('#txtdairynumber').val('');
            $('#txtdairystartdate').val('')
            $('#txtdairyloanamount').val(0)
            $('#txtdairyinstallment').val(120);   
            $('#tbrefdairies tbody').html('');
            $('#txtcustomeraddress').val('')
        }
        
        onClickCreateDairy = ()=>{      
            initialedCreateDairy();            
            createDairyModel.show();
        }        
        onClickCreateDairySave =() => { 
            
            if (parseInt($('#ddlcustomers').val())==0 && ($('#txtcustomername').val()=='' || $('#txtcustomermobile').val()=='' || $('#txtcustomerfathername').val()=='')){
                swal({ title: "Please enter required fields", icon: "warning",});
                return;          
            }
            if ($('#txtdairynumber').val()=='' || $('#txtdairystartdate').val()=='' || $('#txtdairyloanamount').val()=='' || $('#txtdairyinstallment').val()=='' ){
               swal({ title: "Please enter required fields!", icon: "warning",});
               return;
            }
            
            var payload = {
                agentId: $('#ddlagents').val(),
                customerId: $('#ddlcustomers').val(),
                customerName: $('#txtcustomername').val(),
                customerFatherName: $('#txtcustomerfathername').val(),
                customerMobile: $('#txtcustomermobile').val(),
                customerBusinessName: $('#txtcustomerbusinessname').val(),
                customerRemarks: $('#txtcustomerremarks').val(),
                customerAddress: $('#txtcustomeraddress').val(),
                
                dairyNumber: $('#txtdairynumber').val(),
                dairyStartDate: $('#txtdairystartdate').val(),
                loanAmount: $('#txtdairyloanamount').val(),
                installment: $('#txtdairyinstallment').val(),
                
                refDairies: _refDairies
            };
            $.ajax({
                            type: 'POST',
                            url: "/dairy/create",
                            data:payload,
                            success: function (res) {
                               console.log(res)
                                                 
                            }
                        });
            console.log(payload);
            initialedCreateDairy();
        }
        onClickAddRowRefDairy = () => {        
            
            var dairyNumber = $('#ddlrefdairies').val();
            var loanAmt = $('#txtrefdairyloanamount').val();
            var paidAmt = $('#txtrefdairypaidamount').val();
            
            
            if (parseInt(loanAmt)>0){
                if (parseInt(paidAmt)<parseInt(loanAmt) && dairyNumber>0){
                    swal({ title: "Please enter less or equel available amount !", icon: "warning",});
                    return;
                }
                
                var _strRow = '';
                _strRow += '<tr><td class="text-center">'+(dairyNumber>0?'#'+dairyNumber:'Cash')+'</td>'
                _strRow += '<td class="text-center" style="width: 100px">'+paidAmt+'</td>'
                _strRow += '<td class="text-center" style="width: 120px">'+loanAmt+'</td>'
                _strRow += '<td class="text-center" style="width: 40px">'
                _strRow += '<a onclick="onClickremoveRowRefDairy('+dairyNumber+',this)" href="javascript:void(0);" class="text-danger">'
                _strRow += '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">'
                _strRow += '<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>'
                _strRow += '</svg></a></td></tr>'
                
                $('#tbrefdairies tbody').append(_strRow);
                
                _refDairies.push({dailyNumber: dairyNumber, loanAmount: loanAmt, paidAmount:paidAmt});
                
                $('#ddlrefdairies').val(0);
                $('#txtrefdairyloanamount').val('');
                $('#txtrefdairypaidamount').val('');
            }
        }        
        onClickremoveRowRefDairy = (id,e) => {
            _refDairies = _refDairies.filter(function( obj ) {return parseInt(obj.dairyNumber) !== id;});            
            $(e).closest('tr').remove();            
        }        
        onChangeCustomer = (e) => {
            var _selectedId = $('#ddlcustomers').val();
                    
            if (parseInt(_selectedId)>0){
                $('#divnewcustomerdetail').hide();
            }else{
                $('#divnewcustomerdetail').show();
            }
        }        
        onChangeRefDairies = (e) => {           
           $('#txtrefdairypaidamount').val(0);
            _dairiesHadbalance.map((val) => {                
                if (val.dairyNumber==parseInt($('#ddlrefdairies').val())){
                    $('#txtrefdairypaidamount').val(val.paidAmount);
                }
            });
        }        
        onClickSearch =(e)=> {
            if ($('#txtsearchdairynumber').val()!='')
                bindDairyByNumber($('#txtsearchdairynumber').val());
            else
                swal({
                  title: "Please enter dairy number!",
                  icon: "warning",
                });                
        }
        bindDairyByNumber = (numb)=>{
            $.ajax({
            type: 'GET',
            url: "/dairy/getbynumber/"+numb,
            success: function (res) {
                $('#divDairyDetail').html('');
                if(res.success)
                {
                    _dairy = res.data;
                    var _innerBody="";
                    _innerBody += '<h4>#'+_dairy.dailyNumber+'</h4>';
                    _innerBody += '<table class="table table-borderless">';
                    _innerBody += '    <tr>';
                    _innerBody += '        <td style="width: 110px">Name : </td>';
                    _innerBody += '        <td colspan="3">'+_dairy.customer.name+' S/o '+_dairy.customer.fatherName+' ['+_dairy.customer.mobile+']</td>';
                    _innerBody += '    </tr>';
                    _innerBody += '    <tr>';
                    _innerBody += '        <td>Start : </td>';
                    _innerBody += '        <td>'+moment(_dairy.startDate).format('DD-MM-YYYY')+'</td>';
                    _innerBody += '        <td>End : </td>';
                    _innerBody += '        <td>'+moment(_dairy.endDate).format('DD-MM-YYYY')+'</td>';
                    _innerBody += '    </tr>';
                    _innerBody += '    <tr>';
                    _innerBody += '        <td>Loan : </td>';
                    _innerBody += '        <td>'+_dairy.loanAmount+'</td>';
                    _innerBody += '        <td>Total : </td>';
                    _innerBody += '        <td>'+_dairy.totalAmount+'</td>';
                    _innerBody += '    </tr>';
                    _innerBody += '    <tr>';
                    _innerBody += '        <td>Balance : </td>';
                    _innerBody += '        <td>'+_dairy.totalBalanceAmount+'</td>';
                    _innerBody += '        <td>Status : </td>';
                    _innerBody += '        <td>'+_dairy.isCompleted+'</td>';
                    _innerBody += '    </tr>';
                    _innerBody += '</table>';                   
                   
                   if (_dairy.dairyInstallments?.length>0){
                       _innerBody += '<h5>Installments</h5>';
                       _innerBody += '<table class="table table-bordered border-secondary bg-white">';
                       _innerBody += '    <tr>';
                       _innerBody += '        <th class="text-center">#</th>';
                       _innerBody += '        <th class="text-center">Date</th>';
                       _innerBody += '        <th class="text-center">Amount</th>';
                       _innerBody += '        <th class="text-center">Balance</th>';
                       _innerBody += '        <th class="text-center">Status</th>';
                       _innerBody += '    </tr>';
                       
                       
                       for(let j = 0; j< _dairy.dairyInstallments.length; j++) {
                           var _className ="";
                           
                           if (moment().add(5, 'days').format('DD-MM-YYYY')==moment(_dairy.dairyInstallments[j].installmentDate).format('DD-MM-YYYY')){
                                _className = 'bg-info';
                           }else if (moment().add(5, 'days')>moment(_dairy.dairyInstallments[j].installmentDate)){
                                _className = 'bg-past-dt';
                           }
                          _innerBody += '    <tr class="'+_className+'">';
                           _innerBody += '        <td class="text-center">'+_dairy.dairyInstallments[j].installmentNumber+'</td>';
                           _innerBody += '        <td class="text-center">'+moment(_dairy.dairyInstallments[j].installmentDate).format('DD-MM-YYYY')+'</td>';
                           _innerBody += '        <td class="text-end">'+_dairy.dairyInstallments[j].installmentAmount+'</td>';
                           _innerBody += '        <td class="text-end">'+_dairy.dairyInstallments[j].balanceAmount+'</td>';
                           _innerBody += '        <td class="text-center">'+_dairy.dairyInstallments[j].isClosed+'</td>';
                           _innerBody += '    </tr>';
                         }
                       _innerBody += '</table>';
                   }
                   $('#divDairyDetail').html(_innerBody);
                }
            }
            });
        };        
        bindCustomers = ()=>{
            $.ajax({
            type: 'GET',
            url: "/dairy/customers",
            success: function (res) {
                $('#divDairyDetail').html('');
                if(res.success)
                {
                    _customers = [];
                    $('#ddlcustomers').html('');
                    $('#ddlcustomers').append("<option value='0'>New Customer</option>")
                    for(let i = 0; i < res.data.length; i++) {
                      _customers.push({customerId:res.data[i].id, customerName: res.data[i].name});
                       $('#ddlcustomers').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                     
                }
            }
            });
        };
        bindAgents = ()=>{
            $.ajax({
            type: 'GET',
            url: "/dairy/agents",
            success: function (res) {
                $('#divDairyDetail').html('');
                if(res.success)
                {
                    _agents = [];
                    $('#ddlagents').html('');                            
                    for(let i = 0; i < res.data.length; i++) {
                      _agents.push({agentId:res.data[i].id, agentName: res.data[i].name});
                      $('#ddlagents').append("<option value='"+res.data[i].id+"'>"+res.data[i].name+"</option>")
                    }                     
                }
            }
            });
        };
        bindHasDairyPaidAmount = ()=>{
            $.ajax({
            type: 'GET',
            url: "/dairy/refdairies",
            success: function (res) {
                $('#divDairyDetail').html('');
                if(res.success)
                {
                    _dairiesHadbalance = [];
                    // _dairiesHadbalance.push({dairyNumber: 1, paidAmount:5000 });
                    // _dairiesHadbalance.push({dairyNumber: 2, paidAmount:4500 });
                    // _dairiesHadbalance.push({dairyNumber: 3, paidAmount:6500 });
                    // _dairiesHadbalance.push({dairyNumber: 4, paidAmount:3500 });
                    //  $('#ddlrefdairies').html('');
                    //  
                    // for(let i = 0; i < _dairiesHadbalance.length; i++) {
                    //     $('#ddlrefdairies').append("<option value='"+_dairiesHadbalance[i].dairyNumber+"'>"+_dairiesHadbalance[i].dairyNumber+"</option>")
                    // } 
                    
                    $('#ddlrefdairies').html('');
                    $('#ddlrefdairies').append("<option value='0'>Cash</option>")
                    for(let i = 0; i < res.data.length; i++) {
                      _dairiesHadbalance.push({dairyNumber:res.data[i].id,dairyNumber:res.data[i].dairyNumber, paidAmount: res.data[i].paidAmount});
                      $('#ddlrefdairies').append("<option value='"+res.data[i].dairyNumber+"'>"+res.data[i].dairyNumber+"</option>")
                    }                     
                }
            }
            });
        };
    </script>
}